/* Tipografías */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,700&display=swap');

/*Colores*/
:root {
    --primary-color: #0f90e5;
    --background: #f1f4f6;
    --textos: #393939;

    --principal-font: 'Prompt', sans-serif;
    --secondary-font: 'Work Sans', sans-serif;
}

body {
    background: var(--background);
}

header .nav-portfolio {
    background: var(--background);
    padding-top: 20px;
}

nav .logo {
    font-family: var(--principal-font);
    font-size: 30px;
    font-weight: 700;
    color: var(--textos)
}

nav .logo span {
    color: var(--primary-color);
}

.nav-portfolio ul li {
    margin: 0 10px;
}

.nav-portfolio ul li a {
    color: var(--textos);
    position: relative;
    transition: .4s;
    font-family: var(--secondary-font);
}

.navbar-nav .nav-link {
    position: relative;
    transition: .4s;
}

.navbar-nav .nav-link.active {
    color: var(--primary-color);

}

.navbar-nav .nav-link.active::before {
    width: 60%;
    height: 2px;
    background: var(--primary-color);
    content: "";
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 3px;
    position: absolute;
    border-radius: 24px;
    transition: .4s;
}

.navbar-nav .nav-link::before {
    width: 0%;
    height: 2px;
    background: var(--primary-color);
    content: "";
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 3px;
    position: absolute;
    border-radius: 24px;
    transition: .4s;
}

.navbar-nav .nav-link:hover {
    color: var(--primary-color);
}

.navbar-nav .nav-link:hover::before {
    width: 50%;
}

.btn-portfolio {
    background: var(--primary-color);
    color: #ffffff;
    border-radius: 14px;
    padding: 8px 30px;
    border: 2px solid var(--primary-color);
    font-family: var(--secondary-font);
    font-size: 14px;
    text-transform: uppercase;
    box-shadow: 0px 5px 14px -5px #0f90e5;
    line-height: 36px;
}

.btn-portfolio:hover {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);

}

main {
    width: 100%;
    position: relative;
    min-height: 80vh;
    padding-top: 4%;
}

main.portfolio-main {
    padding-top: 0;
}

.cont-foto img#foto-personal {
    position: absolute;
    z-index: 999;
    width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.cont-foto .formas {
    margin: 0 auto;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    border-radius: 50%;
    background: #f1f4f6;
    box-shadow: 20px 20px 60px #e3e5e7,
        -20px -20px 60px #ffffff;
    padding-top: 100px;
    animation-name: ondas;
    animation-duration: 15s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

.cont-foto .formass {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border-radius: 50%;
    background: #f1f4f6;
    box-shadow: 20px 20px 60px #e3e5e7,
        -20px -20px 60px #ffffff;
    animation-name: ondass;
    animation-duration: 7s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes ondas {
    0% {
        transform: scale(1);

    }

    100% {
        transform: scale(1.2);

    }
}

@keyframes ondass {
    0% {
        transform: scale(1);

    }

    100% {
        transform: scale(1.3);

    }
}


.container-portfolio {
    width: 90%;
    margin: 0 auto;
    max-width: 1700px;
}

.left {
    width: 30%;
    padding-top: 150px;
    z-index: 9;
    position: relative;
}

.left h2 {
    font-family: var(--principal-font);
    font-size: 60px;
    color: var(--textos);
    font-weight: 700;
    text-shadow: 3px 3px 1px rgb(150 150 150 / 50%);
}

.left h3 {
    font-family: var(--principal-font);
    font-size: 30px;
    color: var(--textos);
    font-weight: 600;
}

.left p {
    color: var(--textos);
    font-size: 20px;
    font-family: var(--secondary-font);
}

.center {
    width: 40%;
    position: relative;
    z-index: 1;
}

.right {
    width: 30%;
    position: relative;
    z-index: 11;
}

.redes {
    position: relative;

    top: -70px;
    display: flex;
    z-index: 10;
}

.redes.redes-about {
    top: 0;
}

.redes a {
    display: block;
    width: 40px;
    height: 40px;
    background: #fff;
    padding-top: 4px;
    margin: 5px 10px;
    border-radius: 50%;
    text-align: center;
    transition: .4s;
}

.redes a i {
    color: var(--textos);
    font-weight: 700;
    font-size: 20px;
    transition: .2s;
}

.redes a:hover {
    background: var(--primary-color);
    transform: translateY(-5px) scale(1.1);
    box-shadow: 0px 5px 14px -5px #0f90e5;
}

.redes a:hover i {
    color: #fff;
}

.contDes {
    width: 200px;
    position: relative;
    text-align: center;
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    transition: .4s;
}



.contDes:hover .cont-img,
.contDes:hover .cont-info {
    box-shadow: 0px 4px 10px -5px #0f90e5;
}

.contDes .cont-img {
    border-radius: 30px;
    border: 4px solid #fff;
    transition: .4s;
    box-shadow: 0px 4px 10px -5px #c6c6c6;
    position: relative;
    z-index: 8;
}

.contDes .cont-img::before {
    width: 108%;
    height: 112%;
    border: 1px solid #fff;
    background: transparent;
    z-index: 7;
    content: "";
    position: absolute;
    left: -4%;
    top: -6%;
    border-radius: 30px;
}

.contDes .cont-img img {
    width: 100%;
    max-width: 200px;
    border-radius: 30px;
}

.contDes .cont-info {
    background: #fff;
    border-radius: 20px;
    padding: 20px 0;
    margin-top: 10px;
    position: relative;
    transition: .4s;
    box-shadow: 0px 4px 10px -5px #c6c6c6;
}

.contDes .cont-info::before {
    width: 20%;
    height: 4px;
    border-radius: 4px;
    background: var(--textos);
    position: absolute;
    top: -2px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: .4s;
    content: "";
}

.contDes:hover .cont-info::before {
    width: 60%;
    background: var(--primary-color);
}

.contDes .cont-info h3 {
    font-size: 15px;
    margin: 0;
    color: var(--textos);
}

#contDes1 {
    position: relative;
    left: -10px;
}

#contDes2 {
    position: relative;
    left: 260px;
}

#contDes3 {
    position: relative;
    left: 30px;
    z-index: 11;
}

#menu-icon {
    padding-top: 13px;
}

#menu-icon img {
    width: 30px;
}

.internas #navbarSupportedContent {
    position: relative;
    overflow-x: hidden;
}

.internas #navbarSupportedContent ul {
    position: absolute;
    right: -100%;
    transition: 1s;
}

.internas #navbarSupportedContent ul.active {
    right: 4%;
}

#servicios {
    text-align: center;
}

#servicios h1 {
    font-family: var(--principal-font);
    font-size: 56px;
    color: #495258;
    font-weight: 700;
}

#servicios p {
    color: var(--textos);
    font-size: 20px;
    font-family: var(--secondary-font);
}

#servicios #cont-services {
    margin-top: 240px;
}

#servicios .card-servicio {
    width: 30%;
    border-radius: 20px;
    border: 2px solid #fff;
    max-width: 450px;
    margin: 10px 30px;
    position: relative;
    padding-top: 120px;
    padding: 130px 50px 20px;
    background: var(--background);
    cursor: pointer;
    transition: .4s;
    /* box-shadow: 0px 4px 10px -5px #a7a7a7; */
}

#servicios .card-servicio:hover {
    box-shadow: 0px 4px 10px -5px #0f90e5;
    transform: translateY(-30px);
}

#servicios .card-servicio img {
    max-width: 80%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -130px;
    transition: .4s;
}

#servicios .card-servicio:hover img {
    border-radius: 20px;
}

#servicios .card-servicio:nth-child(2):hover img {
    border-radius: 20px;
    transform: rotate(10deg);
}

#servicios .card-servicio h3 {
    font-family: var(--principal-font);
    color: #495258;
    font-weight: 600;
}

#servicios .card-servicio p {
    font-size: 16px;
    font-weight: 400;
}

/* Portafolio */
#portafolio,
.cont-portfolio {
    height: 100vh;
}

#portafolio .carousel-portfolio {
    background: url("../img/bg-portafolio.png");
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
}

.portafolio-header {
    position: absolute;
    width: 100%;
    z-index: 999;
}

.portafolio-header .nav-portfolio {
    background: transparent;
}

#portafolio .info-portfolio {
    padding-top: 8%;
    padding-left: 6%;
}

#portafolio h1 {
    font-family: var(--principal-font);
    font-size: 56px;
    color: #495258;
    font-weight: 700;
    margin-top: 40px;
}

#portafolio h2 {
    color: var(--textos);
    font-size: 18px;
    font-family: var(--secondary-font);
}

#portafolio ul.categorias {
    padding: 0;
    margin: 0;
    padding: 40px 0 160px;
}

#portafolio ul.categorias a {
    color: #495258;
    ;
    text-decoration: none;
    padding: 10px 20px 10px 0;
    font-family: var(--principal-font);
    margin-right: 20px;
    font-weight: 600;
    font-size: 20px;
    transition: .4s;
    position: relative;
    display: inline-block;
}

#portafolio ul.categorias a::after {
    width: 0px;
    height: 2px;
    left: 0px;
    bottom: 5px;
    background-color: transparent;
    content: "";
    position: absolute;
    transition: .4s;
}

#portafolio ul.categorias a.active::after,
#portafolio ul.categorias a:hover::after {
    background: var(--primary-color);
    width: 100px;
}

#portafolio ul.categorias a.active,
#portafolio ul.categorias a:hover {
    color: var(--primary-color);
}

#portafolio .info-categoria {
    padding-right: 100px;
}

#portafolio .info-categoria h3 {
    font-family: var(--principal-font);
    color: #495258;
    font-weight: 600;
}

#portafolio .info-categoria p {
    margin-bottom: 30px;
}

#portafolio .info-categoria p,
#portafolio .info-categoria li {
    color: var(--textos);
    font-family: var(--secondary-font);
}

#portafolio .carousel-portfolio {
    padding-top: 2%;
    padding-bottom: 20px;
}

#portafolio .carousel-control-prev {

    position: absolute;
    left: 4%;
    top: 95%;
    width: 45px;
    height: 45px;
    background: #e2e2e2;
    border-radius: 50%;
    color: #393939;
    box-shadow: 0px 4px 10px -5px #c6c6c6;
}

#portafolio .carousel-control-next {

    position: absolute;
    left: 12%;
    top: 95%;
    width: 45px;
    height: 45px;
    background: #e2e2e2;
    border-radius: 50%;
    color: #393939;
    box-shadow: 0px 4px 10px -5px #c6c6c6;
}

#portafolio .carousel-caption {
    text-align: left;
    bottom: 40px;
    left: 4%;
}

#portafolio .carousel-caption a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
    background: #fff;
    padding: 4px 8px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px -5px #c6c6c6;
}

.show {
    display: block;
}

.hide {
    display: none;
}

/* Sobre mí */

#about h1 {
    font-family: var(--principal-font);
    font-size: 56px;
    color: #495258;
    font-weight: 700;
    text-align: center;
}

#about p {
    color: var(--textos);
    font-size: 20px;
    font-family: var(--secondary-font);
}

#about #cont-about {
    margin-top: 40px;
}

#about .card-about {
    width: 48%;
    border-radius: 20px;
    margin: 10px 30px;
    position: relative;    
    padding: 20px 50px 20px;
    padding-top: 60px;
    background: var(--background);
    cursor: pointer;
    transition: .4s;
}
#about .card-about:nth-child(2){
    width: 52%;
}

#about .card-about.cont-foto {
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#about .card-about.cont-foto::before {
    width: 320px;
    height: 340px;
    background: transparent;
    border: 4px solid #fff;
    position: absolute;
    content: "";
    border-radius: 20px;
    left: 10px ;
    right: 0;
    margin: 0 auto;
    top: 80px;
    z-index: 2;
}

#about .card-about img {
    width: 90%;
    z-index: 9;
    position: relative;
}

#about .card-about h3 {
    font-family: var(--principal-font);
    font-size: 30px;
    color: var(--textos);
    font-weight: 600;
    margin-bottom: 20px;
}

#accordionExp {
    padding-right: 30px;
}

#accordionExp .accordion-item {
    border-radius: 0;
    border: 0px transparent;
    border-top: 1px solid #c6c6c6;
    background: transparent;
}

#accordionExp .accordion-item:nth-child(5) {
    border-bottom: 1px solid #c6c6c6;
    margin-bottom: 25px;
}

#accordionExp .accordion-item button {
    background: transparent;
    justify-content: space-between;
    outline: none;
    padding-right: 34px;
    font-weight: 600;
    font-family: var(--principal-font);
    color: var(--textos);
}

#accordionExp .accordion-item button::before {
    position: absolute;
    right: 5px;
    width: 22px;
    height: 22px;
    border-radius: 13px;
    border: 1px solid var(--textos);
    content: "+";
    text-align: center;
    font-size: 15px;
    color: var(--textos);
}

#accordionExp .accordion-item .accordion-button:not(.collapsed),
#accordionExp .accordion-item .accordion-button:hover {
    color: var(--primary-color);

}

#accordionExp .accordion-item .accordion-button:hover::before {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

#accordionExp .accordion-item .accordion-button:not(.collapsed)::before {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    content: "-";
}

#accordionExp .accordion-item button:focus {
    outline: none;
    box-shadow: 0 0 0 0 transparent;
}

#accordionExp .accordion-item button::after {
    display: none;
}

#accordionExp .accordion-item .accordion-body {
    padding: 20px;
}

nav.moviles{
    display: none;
}

.moviles .navbar-toggler{
    border: 0 transparent;
    outline: none;
    box-shadow: 0 0 0 0 transparent;
}
.moviles .navbar-toggler img{
    width: 25px;
}

@media screen and (min-width: 1300px) and (max-width: 1650px) {
    .cont-foto .formas {
        margin: 120px auto;
        width: 400px;
        height: 400px;
        padding-top: 80px;
    }
    .cont-foto .formass {
        margin: 0 auto;
        width: 250px;
        height: 250px;
    }
    #portafolio .carousel-portfolio {
        padding-top: 14%;
    }
    #servicios .card-servicio {
        padding: 94px 38px 20px;
    }
}

@media screen and (min-width: 660px) and (max-width: 990px) {
    .container-portfolio.home .d-flex{
        flex-wrap: wrap;
    }
    .container-portfolio {
        width: 95%;
        margin: 0 0 0 5%;
    }
    .left {
        width: 70%;
        padding: 144px 0 190px;
    }
    .left h2{
        font-size: 46px;
    }
    .center {
        width: 30%;
        overflow: hidden;
    }
    .cont-foto img#foto-personal {
        position: absolute;
        z-index: 999;
        width: 154%;
    }
    .cont-foto .formas{
        display: none;
    }
    nav .btn-portfolio{
        display: none;
    }
    .right{
        width: 95%;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }
    #contDes1,#contDes2,#contDes3{
        left: auto;
    }
    .redes{
        top: 40px;
        justify-content: center;
    }

    /* -----------------------------  */
    #about #cont-about{
        flex-wrap: wrap;
    }
    #about .card-about.cont-foto{
        width: 52%;
        padding: 23px;
    }
    #about .card-about.cont-foto::before {
        width: 90%;
        height: 75%;
        background: transparent;
        border: 4px solid #fff;
        position: absolute;
        content: "";
        border-radius: 20px;
        left: 10px;
        right: 0;
        margin: 0 auto;
        top: auto;
        z-index: 2;
        bottom: 3%;
    }
    #about .card-about:nth-child(2) {
        width: 95%;
        padding: 0;
        margin: 0;
    }
    /* ------------------------------ */

    #servicios #cont-services {
        margin-top: 50px;
        flex-wrap: wrap;
    }
    #servicios .card-servicio{
        width: 80%;
        margin-top: 160px;
        margin-bottom: 40px;
    }
    #menu-icon{
        display: none;
    }



    .internas #navbarSupportedContent ul {
        position: unset;
        right: auto;
        transition: 1s;
    }
    nav.desktop{
        display: none;
    }
    nav.moviles{
        display: block;
        position: fixed;
        width: 100%;
        z-index: 999;
        background: #f1f4f6;
        box-shadow: 0px 4px 10px -5px #999;
    }
    .container-portfolio{
        padding-top: 60px;
    }
    #about h1,#servicios h1,#portafolio h1{
        font-size: 46px;
        margin-top: 30px;
        text-align: center;
    }
    
    .navbar-nav .nav-link.active::before{

    }
    nav.moviles a.nav-link{
        padding: 20px 10px;
    font-size: 20px;
    font-weight: 500;
    }
    .container-portfolio{
        padding-top: 60px;
    }
    .navbar-nav .nav-link.active::before{
        left: 0;
        margin: 2px 0;
        width: 30%;
    }
    .navbar-nav .nav-link:hover::before {
        width: 30%;
        left: 0;
        margin: 2px 0;
    }
    .navbar-nav .nav-link::before {
        margin: 2px 0;
        left: 0;
    }

    #portafolio ul.categorias{
        padding-bottom: 40px;
        text-align: center;
    }
    #portafolio .info-portfolio{
        padding-top: 100px;
    }
    #portafolio h2{
        text-align: center;
    }
    #portafolio h1{
        font-size: 46px;
    }
}

@media screen and (min-width: 421px) and (max-width: 650px) {
    nav.desktop{
        display: none;
    }
    #portafolio .carousel-portfolio {
        background-position-y: center;
    }
    nav.moviles{
        display: block;
        position: fixed;
        width: 100%;
        z-index: 999;
        background: #f1f4f6;
        box-shadow: 0px 4px 10px -5px #999;
    }
    .container-portfolio{
        padding-top: 60px;
    }
    .navbar-nav .nav-link.active::before{
        left: 0;
        margin: 2px 0;
        width: 30%;
    }
    .navbar-nav .nav-link:hover::before {
        width: 30%;
        left: 0;
        margin: 2px 0;
    }
    .navbar-nav .nav-link::before {
        margin: 2px 0;
        left: 0;
    }
    nav.moviles a.nav-link{
        padding: 20px 10px;
    font-size: 20px;
    font-weight: 500;
    }
    .container-portfolio.home .d-flex{
        flex-wrap: wrap;
    }
    .internas #navbarSupportedContent ul {
        position: unset;
        right: auto;
        transition: 1s;
    }
    .container-portfolio {
        width: 95%;
        margin: 0 0 0 5%;
    }
    .left {
        width: 100%;
        text-align: center;
        padding: 144px 0 120px;
        padding-right: 6%;
    }
    .center {
        display: none;
    }
    .cont-foto img#foto-personal {
        position: absolute;
        z-index: 999;
        width: 200%;
        top: 50px;
        left: -25px;
    }
    .left h2{
        font-size: 42px;
    }
    .left h3{
        font-size: 28px;
    }
    .cont-foto .formas{
        display: none;
    }
    nav .btn-portfolio{
        display: none;
    }
    .right{
        width: 95%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    #contDes1,#contDes2,#contDes3{
        left: auto;
        margin: 20px 12px;
    }
    .redes{
        top: 40px;
        justify-content: center;
        padding-bottom: 45px;
    }

    /* -----------------------------  */
    #about #cont-about{
        flex-wrap: wrap;
    }
    #about .card-about.cont-foto{
        width: 100%;
        padding: 23px;
    }
    #about .card-about.cont-foto::before {
        width: 90%;
        height: 75%;
        background: transparent;
        border: 4px solid #fff;
        position: absolute;
        content: "";
        border-radius: 20px;
        left: 10px;
        right: 0;
        margin: 0 auto;
        top: auto;
        z-index: 2;
        bottom: 3%;
    }
    #about .card-about:nth-child(2) {
        width: 95%;
        padding: 0;
        margin: 0;
    }
    #about h1,#servicios h1,#portafolio h1{
        font-size: 35px;
        margin-top: 34px;
        text-align: center;
    }
    #portafolio h2{
        text-align: center;
    }
    #portafolio .info-portfolio {
        padding-top: 100px;
        padding-left: 5%;
    }
    #about .card-about h3{
        font-size: 25px;
        margin-top: 40px;
    }


    #menu-icon{
        display: none;
    }

    /* ------------------------------ */

    #servicios #cont-services {
        margin-top: 50px;
        flex-wrap: wrap;
    }
    #servicios .card-servicio{
        width: 80%;
        margin-top: 160px;
        margin-bottom: 40px;
    }
    #accordionExp .accordion-item button{
        flex-wrap: wrap;
    }
    #accordionExp .accordion-item button span{
        width: 100%;
    }


    #portafolio ul.categorias a{
        font-size: 15px;
        margin-right: 4px;
        padding-right: 12px;
    }
    #portafolio ul.categorias{
        padding-bottom: 40px;
        text-align: center;
    }
}

@media screen and (min-width: 320px) and (max-width: 420px) {
    nav.desktop{
        display: none;
    }
    nav.moviles{
        display: block;
        position: fixed;
        width: 100%;
        z-index: 999;
        background: #f1f4f6;
        box-shadow: 0px 4px 10px -5px #999;
    }
    .left h3{
        font-size: 20px;
    }
    .container-portfolio{
        padding-top: 60px;
    }
    .navbar-nav .nav-link.active::before{
        left: 0;
        margin: 2px 0;
        width: 30%;
    }
    .navbar-nav .nav-link:hover::before {
        width: 30%;
        left: 0;
        margin: 2px 0;
    }
    .navbar-nav .nav-link::before {
        margin: 2px 0;
        left: 0;
    }
    nav.moviles a.nav-link{
        padding: 20px 10px;
    font-size: 20px;
    font-weight: 500;
    }
    .container-portfolio.home .d-flex{
        flex-wrap: wrap;
    }
    .internas #navbarSupportedContent ul {
        position: unset;
        right: auto;
        transition: 1s;
    }
    .container-portfolio {
        width: 95%;
        margin: 0 0 0 5%;
    }
    .left {
        width: 100%;
        text-align: center;
        padding: 360px 0 60px;
        padding-right: 6%;
        position: relative;
    }
    .left::before{
        width: 70%;
        height: 350px;
        content: "";
        position: absolute;
        top: 0;
        background: url(../img/foto-restrepo.png);
        background-size: cover;
        background-position-x: center;
        background-position-y: top;
        left: 13%;
    }
    .center {
        display: none;
    }
    .cont-foto img#foto-personal {
        position: absolute;
        z-index: 999;
        width: 200%;
        top: 139px;
        left: -23px;
    }
    .left h2{
        font-size: 32px;
    }
    .cont-foto .formas{
        display: none;
    }
    nav .btn-portfolio{
        display: none;
    }
    .right{
        width: 95%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    #contDes1,#contDes2,#contDes3{
        left: auto;
        margin: 20px 12px;
    }
    .redes{
        top: 40px;
        justify-content: center;
        padding-bottom: 45px;
    }

    /* -----------------------------  */
  
    #about .card-about:nth-child(2) {
        width: 95%;
        padding: 0;
        margin: 0;
    }
    #about h1,#servicios h1,#portafolio h1{
        font-size: 35px;
        margin-top: 34px;
        text-align: center;
    }
    #portafolio h2{
        text-align: center;
    }
    #portafolio .info-portfolio {
        padding-top: 100px;
        padding-left: 5%;
    }
    #about .card-about h3{
        font-size: 25px;
        margin-top: 40px;
    }

    #about #cont-about{
        flex-wrap: wrap;
    }
    #about .card-about.cont-foto{
        width: 100%;
        padding: 23px;
    }


    #about .card-about.cont-foto::before {
        width: 90%;
        height: 75%;
        background: transparent;
        border: 4px solid #fff;
        position: absolute;
        content: "";
        border-radius: 20px;
        left: 10px;
        right: 0;
        margin: 0 auto;
        /* top: 80px; */
        z-index: 2;
        bottom: 4%;
    }

    #menu-icon{
        display: none;
    }

    /* ------------------------------ */

    #servicios #cont-services {
        margin-top: 50px;
        flex-wrap: wrap;
    }
    #servicios .card-servicio{
        width: 80%;
        margin-top: 160px;
        margin-bottom: 40px;
        padding: 40px 10px;
    }
    #portafolio .info-categoria {
        padding-right: 9px;
    }
    #portafolio .carousel-portfolio {
        background-position-y: center;
    }
    #accordionExp .accordion-item button{
        flex-wrap: wrap;
    }
    #accordionExp .accordion-item button span{
        width: 100%;
    }


    #portafolio ul.categorias a{
        font-size: 15px;
        margin-right: 4px;
        padding-right: 12px;
    }
    #portafolio ul.categorias{
        padding-bottom: 40px;
        text-align: center;
    }
}
